.pokemonCard {
  height: 40%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  margin: 2.5px 7.5px;
  background-color: #bee3f4;
}

.pokemonImage {
  min-height: 75px;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.pokemonName {
  margin: 10px;
  font-size: 90%;
  text-align: center;
  align-self: center;
}

.typeList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .pokemonCard {
    height: 200px;
  }
}

@media (max-width: 510px) {
  .pokemonName {
    margin: 10px;
  }
}
